body {
    margin: 0;
}

h1 {
    font-family: "Acorn", serif;
}

* {
    font-family: "Hanken Grotesk", serif;
}

@font-face {
    font-family: "Acorn";
    src: url(./font/acorn-3.woff) format("woff");
}