body {
    font-family: sans-serif;
    margin: 0;
}

.CashierMenu {
    display: flex;
    flex-flow: nowrap;
    flex-direction: row;
}

.ItemList {
    list-style: none;

    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;

    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;

    gap: 1vw;
}
.ItemList .ItemButton {
    border-color: grey;
    border-style: solid;
    border-radius: 10px;
    background-color: ghostwhite;

    width: 25vw;
    height: 25vh;
}
.OrderCart .ItemList .ItemButton {
    width: 10vw;
    height: 5vh;
}

.LogoutBtn, .ReviewOrderBtn {
    border-color: grey;
    border-style: solid;
    border-radius: 10px;

    width: 5vw;
    height: 5vh;
}

/* Oreder Review */
.OrderReview .OrderItemList {
    background-color: bisque;
    margin: 0;
    padding: 0;
}
.OrderReview .OrderItem {
    border-color: grey;
    border-style: solid;
    display: flex;
    flex-direction: column;
}
