.Analytics {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}


/* Navigation Bar */
.AnalyticsPages {
    background-color: ghostwhite;
    display: flex;
    position: sticky;
    top: 0;

    width: 98vw;
    height: 4vh;
    padding-left: 1vw;
    padding-right: 1vw;
    border-bottom: solid black 2px;
}

.AnalyticsPages button {
    background-color: ghostwhite;
    border: none;
    border-radius: 10px;
    flex-grow: 1;
    font-size: large;
    font-weight: bold;
}
.AnalyticsPages button:hover { background-color: green; }