.CashierOrderView {
    background-color: var(--default-bg);
}

.CashierOrderView .UtilBar {
    border-top: solid var(--default-border) 2px;
    background-color: var(--default-bg);
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    padding-left: 1vw;
    padding-right: 1vw;
    gap: 1vw;
    width: 98vw;
    height: 10vh;
}

.CashierOrderView .UtilBar button {
    height: 8vh;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
}

.CashierOrderView .UtilBar .DashboardBtn {
    border: none;
    background-color: var(--emphasis-bg);
    flex-grow: 4;
}

.CashierOrderView .UtilBar .ReviewOrderBtn {
    border: none;
    background-color: var(--emphasis-bg);
    flex-grow: 4;
}

.CashierOrderView .Separator {
    flex-grow: 4;
}

/* Content*/
.CashierOrderView .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 6vh;
    padding-bottom: 15vh;
}

.CashierOrderView .content h1 {
    padding-top: 5vh;
    padding-bottom: 2vh;
    font-size: 2rem;
}

.CashierOrderView .MenuItemList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 70vw;
    list-style: none;
    gap: 1rem;
    padding: 1rem;
    box-sizing: border-box;
}

.CashierOrderView .MenuItemList .ItemButton {
    background-color: var(--default-bg);
    color: var(--default-text);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 10vw;
    height: 25vh;
    border: black 2px solid;
    border-radius: 10px;
    font-size: 1.2rem;
    background-color: rgb(170, 168, 168);
    transition: background 0.2s ease;
}

.CashierOrderView .MenuItemList .ItemButton:hover {
    background-color: var(--default-hover);
}

.CashierOrderView .MenuItemList .ItemButton .ItemDetails .ItemQuantity,
.CashierOrderView .MenuItemList .ItemButton .ItemDetails .ItemTopping,
.CashierOrderView .MenuItemList .ItemImg,
.CashierOrderView .OrderItemList .ItemImg {
    display: none;
}

.CustomerOrderView .MenuItemList .ItemDetails {
    font-size: 1rem;
}

.CustomerOrderView .MenuItemList .ItemDetails .ItemName {
    font-weight: bold;
}


/* Category Selector */
.CashierOrderView .CategorySelector {
    border-right: solid var(--default-border) 2px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-top: 6vh;
    width: 15vw;
    height: 84vh;
}

.CashierOrderView .CategorySelector button {
    background-color: var(--default-bg);
    color: var(--default-text);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    overflow-wrap: break-word;
    word-break: break-word;
    flex-grow: 1;
    transition: background 0.2s ease;
}

.CashierOrderView .CategorySelector button:hover {
    background-color: var(--default-hover);
}

.CashierOrderView .CategorySelector .active {
    background-color: var(--emphasis-bg);
    color: var(--emphasis-text);
}

.CashierOrderView .CategorySelector .active:hover {
    background-color: var(--emphasis-hover);
}


/* Order Cart */
.CashierOrderView .OrderCart {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 15vw;
    display: flex;
    flex-direction: column;
    border-left: solid var(--default-border) 2px;
    text-align: center;
    overflow: hidden;
    padding-bottom: 10vh;
    margin-top: 6vh;
}


.CashierOrderView .OrderItemList {
    flex: 1;
    overflow-y: auto;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 5vh;
}

.CashierOrderView .OrderItemList .ItemButton {
    background-color: rgb(217, 217, 217);
    color: var(--default-text);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15vw;
    border: none;
    padding-bottom: 2vh;
}

.CashierOrderView .OrderItemList .ItemButton:hover {
    background-color: var(--default-hover);
}

.CashierOrderView .OrderItemList .ItemButton .ItemDetails .ItemName {
    font-size: 1.25rem;
    margin-bottom: 0;
}

.CashierOrderView .OrderItemList .ItemButton .ItemDetails .ItemPrice {
    font-size: 1rem;
    margin: 0;
}

.CashierOrderView .OrderItemList .ItemButton .ItemDetails .ItemTopping,
.CashierOrderView .OrderItemList .ItemButton .ItemDetails .ItemQuantity {
    font-size: 0.8rem;
    margin: 0;
}

.CashierOrderView .OrderItemList .ItemButton:hover {
    background-color: white;
}

.SearchContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5vw;
    margin-top: 4vh;
    margin-bottom: 1.5vh;
}

.SearchBar {
    width: 30vw;
    height: 4vh;
    font-size: 1.6vh;
    padding: 0.8vh 1vw;
    border: 0.15vh solid var(--text-color);
    border-radius: 1vh;
    background-color: var(--bg-color);
    box-shadow: 0 0.3vh 0.6vh rgba(0, 0, 0, 0.1);
    color: solid var(--text-color);

}

.ClearSearchBtn {
    height: 4vh;
    padding: 0 1.5vw;
    font-size: 1.6vh;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 1vh;
    cursor: pointer;
    transition: background-color 0.3s;
}

.ClearSearchBtn:hover {
    background-color: #d32f2f;
}