.CustomerOrderView {
    background-color: white;

}

/* Utility Bar */
.CustomerOrderView .UtilBar {
    background-color: green;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;

    width: 100vw;
    height: 10vh;
    min-height: 10vh;
}
.CustomerOrderView .UtilBar button {
    height: 10vh;
    width: auto;
}


/* Content */
.CustomerOrderView .content{
    display: flex;
    flex-flow: nowrap;
    flex-direction: row;
}


/* Item List */
.CustomerOrderView .MenuItemList {
    list-style: none;

    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;

    padding: 0;
    margin: 0;
    gap: 1vw;
}


/* Item Button */
.CustomerOrderView .MenuItemList .ItemButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-color: green;
    border-style: solid;
    border-radius: 10px;
    background-color: ghostwhite;

    width: 30vw;
    height: 25vh;
}

.CustomerOrderView .ItemImg {
    width: 10vw;
}


/* Category Selector */
.CustomerOrderView .CategorySelector {
    display: flex;
    flex-direction: column;

    height: 90vh;
    width: 10vw;
    min-width: 10vw;
}
.CustomerOrderView .CategorySelector button {
    height: 25vh;
    width: auto;
}


/* Order Cart */
.CustomerOrderView .OrderCart {
    width: 25vw;
}
.CustomerOrderView .OrderItemList {
    list-style: none;
    display: block;
    padding: 0;
}
.CutstomerOrderView .OrderItemList .ItemButton {
    border-color: grey;
    border-style: solid;
    background-color: ghostwhite;

    width: 100%;
    height: 5vh;
}