

/* Util Bar */
.OrderReview .UtilBar {
    border-top: solid var(--border-color) 2px;
    background-color: var(--bg-color);
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    padding-left: 1vw;
    padding-right: 1vw;
    gap: 1vw;
    width: 98vw;
    height: 10vh;
}

.OrderReview .UtilBar button {
    height: 8vh;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
}

.OrderReview .UtilBar .BackBtn {
    background-color: var(--deemphasis-color);
    border: none;
    flex-grow: 4;
}

.OrderReview .UtilBar .OrderPriceLabel {
    background-color: var(--deemphasis-color);
    border: none;
    flex-grow: 1;
}

.OrderReview .UtilBar .PaymentBtn {
    background-color: var(--emphasis-color);
    color: var(--text-selected);
    font-size: large;
    flex-grow: 8;
    border: none;
}



/* Item List */
.OrderReview .OrderItemList {
    margin: 0;
    padding: 0;
}

.OrderReview .OrderItem {
    border-top: 2px solid gray;
    width: 100vw;
    display: flex;
    flex-direction: column;
    
}


.reviewOrderText, .continuePayment {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 25px;
}

.ItemDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
