
.OrderReview {
    margin-top: 10vh;
}

/* Util Bar */
.OrderReview .UtilBar {
    border-top: solid var(--default-border) 2px;
    background-color: var(--default-bg);
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    padding-left: 1vw;
    padding-right: 1vw;
    gap: 1vw;
    width: 98vw;
    height: 10vh;
}

.OrderReview .UtilBar button {
    height: 8vh;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
}

.OrderReview .UtilBar .BackBtn {
    background-color: var(--deemphasis-bg);
    color: var(--deemphasis-text);
    border: none;
    flex-grow: 4;
}
.OrderReview .UtilBar .BackBtn:hover { background-color: var(--deemphasis-hover); }


.OrderReview .UtilBar .OrderPriceLabel {
    background-color: var(--deemphasis-bg);
    color: var(--deemphasis-text);
    border: none;
    flex-grow: 1;
}

.OrderReview .UtilBar .PaymentBtn {
    background-color: var(--emphasis-bg);
    color: var(--emphasis-text);
    font-size: large;
    flex-grow: 8;
    border: none;
}
.OrderReview .UtilBar .PaymentBtn:hover { background-color: var(--emphasis-hover); }



/* Item List */
.OrderReview .OrderItemList {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    padding-bottom: 10vh;
}

.OrderReview .OrderItem {
    border-top: solid var(--default-border) 2px;
    background-color: var(--default-bg);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100vw;
}

.OrderReview .ItemDetails,
.OrderReview .PriceBreakdown,
.OrderReview .ItemImg {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vh;
}

.OrderReview .ItemImg img { height: 20vh; }


.OrderReview .Details {
    display: flex;
    flex-direction: column;
    width: 70%;
}
.OrderReview .Details h2,
.OrderReview .Details p {
    margin: 0;
}

.OrderReview .PriceBreakdown .ItemToppings {
    display: flex;
    flex-direction: column;
    width: 70%;

}
.OrderReview .PriceBreakdown h3,
.OrderReview .PriceBreakdown p {
    margin: 0;
}

.OrderReview .reviewOrderText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


