<!DOCTYPE html>
<head>
    <title>Home Page</title>
</head>
<body>
    <h1>Items</h1>
    <% for (var i in items) { %>
        <button class="itemButton"><%= items[i].item_name %>, <%= items[i].price %></button>
    <% } %>
</body>
