.ModalOverlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.ModalContent {
    background: #fff;
    padding: 1.5rem;
    border-radius: 8px;
    width: 80vw;
    height: auto;
    max-height: 90vh;
    overflow-y: auto;
}

.ModalOverlay h2 { margin: 0; }
.ModalOverlay h3 { margin: 0; }
.ModalOverlay h4 { margin: 0; }


.ModalOverlay .Details-Grid {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
}

.ModalOverlay .ItemDetails .ItemImg {
    width: 30vw;
    min-width: 400px;
}

/* Health Info */
.ModalOverlay .HealthInfo {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.ModalOverlay .HealthInfo .ItemIngredients,
.ModalOverlay .HealthInfo .ItemCalories {
    display: flex;
    gap: 1vw;
}
.ModalOverlay .HealthInfo .IngredientsList {
    list-style: none;
    gap: 1vw;
    display: flex;
    padding: 0;
    margin: 0;
}


/* Toppings Grid */
.ToppingGrid {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 1vw;
    padding: 0;
    margin: 0;
    list-style: none;
}

.ToppingGrid .ToppingDetails,
.ToppingCalories {
    display: flex;
    align-items: center;
    gap: 2vw;
}

.ToppingItem {
    padding: 0.75rem;
    border-radius: 6px;
    font-size: 0.95rem;
}

.ButtonGroup {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.quantityBtn {
    padding: 0.3rem 0.6rem;
    font-size: 0.85rem;
    border: 1px solid #ccc;
    background: #eee;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.2s ease;
    text-transform: capitalize;
}

.quantityBtn:hover {
    background: #ddd;
}

.quantityBtn.active {
    background: #2563eb;
    color: white;
    border-color: #2563eb;
}

.ModalActions {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    gap: 1rem;
}

.ModalActions button {
    flex: 1;
    padding: 0.5rem;
    font-size: 1rem;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s ease;
}

.ModalActions button:hover {
    background: #111;
}

/* Cashier Order View */
.CashierOrderView .ModalOverlay .ItemImg { display: none; }

/* Customer Order View */

/* Admin */
.Admin .ModalOverlay .ItemImg,
.Admin .ModalOverlay .ToppingPrice,
.Admin .ModalOverlay .ToppingCalories,
.Admin .ModalOverlay .ItemCalories,
.Admin .ModalOverlay .ItemIngredients
{ display: none; }